.rectangle {
  margin: 7px 0 7px 0;
  position: relative;
  flex-direction: row;
  background-color: var(--color-orange);
  padding: 7px;
  border-radius: 10px;

  box-shadow: inset -3px -3px 10px rgba(0, 0, 0, 0.7);
  display: flex;
  color: var(--color-white);
  justify-content: space-between;

  .window-num {
    text-align: right;
    width: 30px;
    font-weight: var(--weight-bolder);
    font-size: 40px;
    letter-spacing: -3px;
    position: absolute;
    align-self: center;
  }

  .odd-shape {
    border-top: 48px solid var(--color-red);
    border-right: 35px solid transparent;
    height: 0;
    width: 77px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }

  .queue-num {
    margin: 0;
    margin-right: 5px;
    color: var(--color-black);
    font-weight: bold;
    height: 30px;

    .priority {
      font-size: 15px;
      text-align: right;
      line-height: 0;
      margin-top: -31px;
    }

    .queue-num-specific {
      margin-top: 0;
      font-size: 35px;
    }
  }
}

.z-index {
  z-index: 1000;
}