.next-num-container {

  height: fit-content;

  .container {
    width: 100%;
    background-color: #f5f5f5;
    height: 80px;
    border-radius: 10px;
    border: 1.5px solid var(--color-dark-blue);
    color: var(--color-dark-blue);
    padding: 10px;
    grid-template-rows: 1fr 1fr;
    margin: 8px 0px 8px 0px;
    box-shadow: inset -3px -3px 10px rgba(0, 0, 0, 0.7);


    .inner {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .left {
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 10px;
      }

      .ticket-num {
        font-size: 60px;
        font-weight: bold;
      }
    }

  }
}
