<section
  class="next-num-container"
  *ngIf="processingData.nextQueues[0].queueNum != ''"
>
  <div *ngFor="let nextNumber of processingData.nextQueues | slice : 0 : 7">
    <div class="container">
      <div class="inner">
        <span class="left" *ngIf="nextNumber.priority == false">
          {{ ticketNumberString }}
        </span>
        <span class="left" *ngIf="nextNumber.priority == true">
          {{ priorityString }}
        </span>
        <span class="ticket-num">
          {{ nextNumber.queueNum }}
        </span>
      </div>
    </div>
  </div>
</section>
