.rectangle {
  margin: 7px 0 7px 0;
  position: relative;
  flex-direction: row;
  background-color: var(--color-dark-blue);
  padding: 7px;
  border-radius: 10px;
  display: flex;
  box-shadow: inset -3px -3px 10px rgba(0, 0, 0, 0.8);
  color: var(--color-white);
  justify-content: space-between;

  .window-num {
    text-align: right;
    line-height: 0;
    letter-spacing: -3px;
    width: 30px;
    font-weight: var(--weight-bolder);
    padding-top: -1px;
    font-size: 40px;
    position: absolute;
    align-self: center;
  }

  .odd-shape {
    border-top: 48px solid var(--color-light-blue);
    border-right: 35px solid transparent;
    height: 0;
    width: 77px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }

  .queue-num {
    line-height: 0;
    align-self: center;
    margin: 0;
    margin-right: 5px;
    font-size: 35px;
  }
}

.z-index {
  z-index: 1000;
}
