.rectangle {
  margin: 5px;
  flex-direction: row;
  background-color: var(--color-dark-blue);
  padding: 5px;
  border-radius: 10px;
  display: flex;
  color: var(--color-white);
  justify-content: space-between;

  .window-num {
    margin-left: 12px;
    font-weight: bold;
    padding-top: 4px;
    font-size: 30px;
    position: absolute;
    align-self: center;
  }

  .odd-shape {
    border-top: 50px solid var(--color-light-blue);
    border-right: 20px solid transparent;
    height: 0;
    width: 45px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }

  .queue-num {
    line-height: 0;
    align-self: center;
    margin: 0;
    margin-right: 10px;
    font-size: 30px;
  }
}
