.global {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 0.5fr 3fr 1fr;
}

.contain {
  margin: 5px;
}

.contain:nth-of-type(1) {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  height: 50px;
  display: flex;
  justify-content: space-between;

  p {
    font-size: 40px;
    font-weight: bold;
    line-height: 0px;
  }

  .images {
    margin-top: 3px;
    margin-right: 10px;
    height: 63px;
    width: auto;
  }

  img {
    height: 100%;
    width: auto;
  }
}

.contain:nth-of-type(2) {
  padding: 5px 5px 0 5px;
  grid-column: 1 / 2;
  grid-row: 1/4;



}

.contain:nth-of-type(3) {
  background-color: var(--color-black);
  grid-column: 2 / 3;
  grid-row: 2;
}

.contain:nth-of-type(4) {
  grid-column: 3 / 3;
  grid-row: 2/4;
}

.contain:nth-of-type(5) {
  grid-column: 2 / 3;
  grid-row: 3/4;
}
