.global {
  height: 100%;
  display: grid;
  grid-template-columns: 1.1fr 3fr 1.1fr;
  grid-template-rows: 0.5fr 3fr 1fr;
}

.shape-container {
  padding-top: 5px;
}



.contain {
  margin: 5px;
}

.contain:nth-of-type(1) {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  height: 50px;
  display: flex;
  justify-content: space-between;

  .logo-container {
    width: 100%;
    text-align: right;

    .queuewise-logo {
      height: 100px;
      width: auto;
      margin-right: 30px;
    }
  }

  .first-shape {
    display: flex;
    margin-left: -10px;
    background: linear-gradient(90deg, var(--color-light-blue) 30%, var(--color-dark-blue-green) 100%);
    align-items: center;
    font-size: 55px;
    font-weight: bold;
    padding: 0 30px;
    color: var(--color-white);
    width: 1300px;
    z-index: 300;
    justify-content: space-between;
    position: absolute;
    clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);

    // .gradient-text {
    //   background-image: linear-gradient(to right, var(--color-orange) 30%, var(--color-white) 70%);
    //   -webkit-background-clip: text;
    //   background-clip: text;
    //   -webkit-text-stroke: 1px var(--color-dark-blue);
    //   color: transparent;
    // }

    .bplo-logo-glow {
      height: 80px;
      width: auto;
      margin-right: 10px;
    }
  }

  .second-shape {
    top: 30px;
    justify-content: flex-end;
    left: 0;
    margin-left: -10px;
    z-index: 200;
    display: flex;
    align-items: center;
    padding-right: 50px;
    position: absolute;
    background: linear-gradient(90deg, transparent 0%, var(--color-light-blue) 70%);
    width: 1400px;
    clip-path: polygon(0 0, 100% 0%, 95.5% 100%, 0% 100%);

    .binan-logo-glow {
      height: 80px;
      width: auto;
    }
  }

  .third-shape {
    top: 10px;
    z-index: 100;
    justify-content: flex-end;
    left: 0;
    margin-left: -10px;
    display: flex;
    height: 80px;
    align-items: center;
    padding-right: 50px;
    position: absolute;
    background-color: var(--color-dark-blue-green);

    width: 1345px;
    clip-path: polygon(0% 0%, 97% 1%, 100% 50%, 95% 100%, 0% 100%);
  }



  p {
    font-size: 40px;
    font-weight: bold;
    line-height: 0px;
  }

  .images {
    margin-top: 3px;
    margin-right: 10px;
    height: 63px;
    width: auto;
  }

  img {
    height: 100%;
    width: auto;
  }
}



.contain:nth-of-type(2) {
  padding: 5px 0px 0 5px;
  grid-column: 1 / 2;
  grid-row: 2/4;



}

.contain:nth-of-type(3) {
  background-color: var(--color-black);
  grid-column: 2 / 3;
  grid-row: 2;
  margin-top: 10px;
}

.contain:nth-of-type(4) {
  grid-column: 3 / 3;
  grid-row: 2/4;
  margin-right: 10px;
  margin-bottom: 10px;
}

.contain:nth-of-type(5) {
  grid-column: 2 / 3;
  grid-row: 3/4;
  margin-bottom: 10px;
}
