<div class="global">
  <div class="contain">
    <p>
      {{ companyName }}
    </p>
    <div class="images">
      <img src="{{ binanLogoImg }}" alt="" />
      <img src="{{ bploLogoImg }}" alt="" />
    </div>
  </div>
  <div class="contain">
    <app-left-side-screen></app-left-side-screen>
  </div>

  <div class="contain">
    <!-- <app-video-player></app-video-player> -->
  </div>
  <div class="contain">
    <app-right-side-screen></app-right-side-screen>
  </div>
  <div class="contain">
    <app-bottom-screen></app-bottom-screen>
  </div>
</div>
