<div class="global">
  <div class="contain shape-container">
    <div class="first-shape">
      <span class="gradient-text"> Business Permit and Licensing Office </span>
      <img
        class="bplo-logo-glow"
        src="assets/images/bplo-logo-glow.png"
        alt=""
      />
    </div>
    <div class="second-shape">
      <img
        class="binan-logo-glow"
        src="assets/images/binan-logo-glow.png"
        alt=""
      />
    </div>
    <div class="third-shape"></div>
    <div class="logo-container">
      <img
        class="queuewise-logo"
        src="assets/images/queuewise-logo2.png"
        alt=""
      />
    </div>
  </div>

  <div class="contain">
    <app-left-side-screen></app-left-side-screen>
  </div>

  <div class="contain">
    <app-middle-screen></app-middle-screen>
  </div>
  <div class="contain">
    <app-right-side-screen></app-right-side-screen>
  </div>
  <div class="contain">
    <app-bottom-screen></app-bottom-screen>
  </div>
</div>
