.queueing-numbers {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;

  .counter {
    background-color: var(--color-dark-blue);
    color: var(--color-white);
    width: 100%;
    margin-bottom: 10px;
    font-size: 70px;
    margin-top: 5px;
    font-weight: bold;
    padding: 5px 0;
    display: flex;
    justify-content: center;

    p {
      line-height: 0;
    }
  }

  .time {
    align-self: end;
  }
}
