.all {
  width: 100%;
  height: 100%;
  .video-container {
    display: flex;
    height: 100%;
    align-items: center;

    #video {
      width: 100%;
      height: auto;
    }
  }



  .overlay {
    position: absolute;
    height: 25%;
    top: 30%;
    left: 34%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;

    .inside-overlay {
      display: grid;
      grid-template-rows: 1fr 1fr;
      justify-content: center;

      .file-count {
        display: flex;
        justify-content: center;
        align-items: baseline;
        font-size: 40px;
        color: var(--color-white);
        text-shadow: 0 0 10px var(--color-black);
        line-height: 0;

      }

      .buttons {
        gap: 20px;
        display: flex;
        align-items: end;

        button {
          background-color: var(--color-black);
          border: 1px solid var(--color-white);
          color: var(--color-white);
          font-size: 40px;
          width: 200px;
          height: fit-content;
          border-radius: 10px;
          padding: 10px;
          box-shadow: 0 0 10px var(--color-white);
        }

        button:hover {
          background-color: var(--color-white);
          color: var(--color-dark-blue);
          cursor: pointer;
          transition: ease-in-out 0.3s;
          box-shadow: inset 0 0 10px var(--color-dark-blue);
        }
      }

      input {
        display: none;
      }
    }
  }
}
