<div class="containers">
  <div class="two-containers">
    <div class="boxes">
      <div></div>
      <p class="status-dashboard">{{ queueStatusDashBoard }}</p>
      <p class="queues">
        <span class="total-queues-string">
          {{ totalQueuesString }}
        </span>
        <span class="total-queues-int">
          {{ totalQueuesInt }}
        </span>
      </p>
    </div>
    <div class="boxes">
      <span>
        {{ newMember }}
      </span>
      <div class="box">
        <span class="box-bold-large">{{ newMemberInt }}</span>
      </div>
    </div>
    <div class="boxes">
      <span>
        {{ renewal }}
      </span>
      <div class="box">
        <span class="box-bold-large">{{ renewalInt }}</span>
      </div>
    </div>
    <div class="boxes">
      {{ retirement }}
      <div class="box">
        <span class="box-bold-large">{{ retirementInt }}</span>
      </div>
    </div>
  </div>
  <div class="two-containers">
    <p class="greetings">
      <marquee behavior="scroll" direction="left">{{ greetings }}</marquee>
    </p>
  </div>
</div>
