.black-box {
  background-color: black;
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--color-white);
  gap: 5px;
  .time{
    font-size: 45px;
    font-weight: bold;
  }
  .day-date{
    font-size: 16px;
  }
}
