<div class="queueing-numbers">
  <div class="counter">
    <p>
      {{ counter }}
    </p>
  </div>
  <div class="queues" *ngFor="let process of processes">
    <div *ngIf="process.priority==isPriority">
      <app-priority-processing-numbers
      [windowNum]="process.windowNum"
      [queueNum]="process.queueNum"
      >
      </app-priority-processing-numbers>
    </div>
    <div *ngIf="process.priority!=isPriority">
      <app-processing-numbers
        [windowNum]="process.windowNum"
        [queueNum]="process.queueNum"
      ></app-processing-numbers>
    </div>
  </div>
</div>
