<div class="queueing-numbers">
  <div class="counter">
    <span>
      {{ counter }}
    </span>
  </div>
  <div class="queue-container">
    <div class="queues" *ngFor="let process of processingService.processes">
      <div *ngIf="process.tellerType==='priority'">
        <app-priority-processing-numbers
          [windowNum]="process.tellerNum"
          [queueNum]="process.queue?.queueNum"
        >
        </app-priority-processing-numbers>
      </div>
      <div *ngIf="process.tellerType=='regular'">
        <app-processing-numbers
          [windowNum]="process.tellerNum"
          [queueNum]="process.queue?.queueNum"
        ></app-processing-numbers>
      </div>
    </div>
  </div>
</div>
<div class="emphasis-overlay" *ngIf="emphasizedQueues.queueNum">dasd</div>

<div *ngIf="emphasizedQueues.queueNum" class="emphasized-queues">
  <div class="qwise-logo-contain">
    <img
      src="assets/images/queuewise-logo.png"
      alt="queuewise logo"
      class="qwise-logo"
    />
  </div>
  <span class="ticket-num-label">Ticket Number</span>
  <span class="ticket-box"
    ><span class="queue-num"> {{ emphasizedQueues.queueNum || "" }} </span>
    <span class="type-priority">
      <span>Renewal</span>
      -
      <span>Regular</span>
    </span></span
  >

  <span class="proceed">Please Proceed to </span>
  <span class="counter-num">Counter 4</span>
  <span class="org-logo-contain">
    <img
      src="assets/images/bplo-logo.png"
      alt="queuewise logo"
      class="org-logo"
    />
    <img
      src="assets/images/binan-logo.png"
      alt="queuewise logo"
      class="org-logo"
    />
  </span>
</div>
