<div class="queueing-numbers">
  <div
    class="counter"
    [ngClass]="{
      'priority-z-index':
        processingService.emphasizedQueues[0]?.queue.priority == true
    }"
  >
    <span>
      {{ counter }}
    </span>
  </div>
  <div class="queue-container">
    <div class="queues" *ngFor="let process of processes; let i = index">
      <div *ngIf="process.tellerType == 'regular' && process.active == true">
        <app-processing-numbers
          [windowNum]="process.tellerNum"
          [queueNum]="process.queue?.queueNum"
          [emphasis]="isEmphasized(i)"
        ></app-processing-numbers>
      </div>
    </div>
  </div>
  <div
    class="counter counter-priority"
    [ngClass]="{
      'priority-z-index':
        processingService.emphasizedQueues[0]?.queue.priority == false
    }"
  >
    <span> PRIORITY </span>
  </div>
  <div class="queue-container">
    <div class="queues" *ngFor="let process of processes; let i = index">
      <div
        *ngIf="process.tellerType === 'priority' && process.active == true"
        class="z-index"
      >
        <app-priority-processing-numbers
          [windowNum]="process.tellerNum"
          [queueNum]="process.queue?.queueNum"
          [emphasis]="isEmphasized(i)"
        >
        </app-priority-processing-numbers>
      </div>
    </div>
  </div>
</div>

<div
  class="emphasis-overlay"
  *ngIf="
    processingService.showEmphasisOverlay &&
    processingService.emphasizedQueues[0]?.queue
  "
></div>
<div
  class="emphasized-queues"
  *ngIf="
    processingService.showEmphasisOverlay &&
    processingService.emphasizedQueues[0]?.queue
  "
>
  <span class="ticket-num-label">Ticket Number</span>
  <span class="ticket-box">
    <span class="queue-num">{{
      processingService.emphasizedQueues[0]?.queue.queueNum
    }}</span>
    <span class="type-priority">
      <span>{{
        processingService.emphasizedQueues[0]?.queue.type | titlecase
      }}</span>
      -
      <span *ngIf="processingService.emphasizedQueues[0]?.queue.priority"
        >Priority</span
      >
      <span *ngIf="!processingService.emphasizedQueues[0]?.queue.priority"
        >Regular</span
      >
    </span>
    <span class="proceed">Please Proceed to </span>
    <span class="counter-num"
      >Counter {{ processingService.emphasizedQueues[0]?.tellerNum }}</span
    >
  </span>
  <div class="org-logo-contain">
    <span class="org-logo-contain">
      <img
        src="assets/images/queuewise-logo2.png"
        alt="queuewise logo"
        class="org-logo"
      />
      <img
        src="assets/images/bplo-logo.png"
        alt="queuewise logo"
        class="org-logo"
      />
      <img
        src="assets/images/binan-logo.png"
        alt="queuewise logo"
        class="org-logo"
      />
    </span>
  </div>
</div>
